<!DOCTYPE html>
<html>
<head>
	<title>Sign up | FoodForChange</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="/login"><h2 class="inactive underlineHover"> Sign In </h2></a>
    <h2 class="active">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename = 'user.png') }}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form name="sign_up_form" action="/register" method="POST" onsubmit="return validateForm()">
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="Personal name/Organization name" required>
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="email" required>
      <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password" required>
        <input type="text" id="address1" name="address1" placeholder="Address Line 1" class="fadeIn fourth" required>
        <input type="text" id="address2" name="address2" placeholder="Address Line 2" class="fadeIn fourth">
        <input type="text" id="city" name="city" placeholder="City/Town" class="fadeIn fourth" required>
        <input type="text" id="state" name="state" placeholder="State / Province / Region" class="fadeIn fourth" required>
        <input type="text" id="zip" name="zip" placeholder="Zip / Postal Code" class="fadeIn fourth" required>
        <label for="account_type" class="fadeIn fourth">Account Type: </label>
        <select id="account_type" name="account_type" class="fadeIn fourth" required>
            <option value="customer">Customer</option>
            <option value="distributor">Distributor</option>
            <option value="donor">Donor</option>
        </select>
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

      <script>
          function validateForm(){
              var form= document.forms["sign_up_form"];
              var address1 = form["address1"].value;
              var password = form["pass"].value;
              var email = form["email"].value;
              var state = form["state"].value;
              var city = form["city"].value;
              var zip = form["zip"].value;

              if (address1=="" || password=="" || email=="" || state=="" || city=="" || zip=="") {
                  alert("Make sure all fields are filled out. The only optional fields are Address Line 2 and Sponsorship.");
                  return false;
              }
          }
          </script>
  </div>
</div>
</body>
</html>